<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example33-production</title>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
    <script src="js/controller/app.js"></script>



</head>
<body ng-app="formExample">
<div ng-controller="ExampleController">
    <form name="form" class="css-form" novalidate>
        Nome:
        <input type="text" ng-model="user.name" name="uName" required="" />
        <br />
        <div ng-show="form.$submitted || form.uName.$touched">
            <div ng-show="form.uName.$error.required">Inserisci un nome!</div>
        </div>

        E-mail:
        <input type="email" ng-model="user.email" name="uEmail" required="" />
        <br />
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <span ng-show="form.uEmail.$error.required">Inserisci una mail</span>
            <span ng-show="form.uEmail.$error.email">Inerisci una mail valida.</span>
        </div>

        Gender:
        <input type="radio" ng-model="user.gender" value="male" />male
        <input type="radio" ng-model="user.gender" value="female" />female
        <br />
        <input type="checkbox" ng-model="user.agree" name="userAgree" required="" />

        Accetto:
        <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
        <br />
        <div ng-show="form.$submitted || form.userAgree.$touched">
            <div ng-show="!user.agree || !user.agreeSign">Perfavore inserisci la firma.</div>
        </div>

        <input type="button" ng-click="reset(form)" value="Reset" />
        <input type="submit" ng-click="update(user)" value="Save" />
    </form>
</div>
</body>
</html>